.like
	{
		border: 0.1em solid red;
		background-color: rgb(99, 99, 240);
		width: 70px;
		height: 70px;
		border-radius: 250px;
		padding-top: 20px;
		padding-left: 5px;
		margin-left: 420px;
        margin-top: 40px;
	}

.like_
{
    font-size: 1.5em;
    color: antiquewhite;
    padding-left:  23px;
}

.like_:hover
{
    text-decoration: none;
    color: cyan;
}

.like_btn
{
    border: none;
    background-color: white;
    margin-left: 0px;
    margin-top: 50px;
    width: 60px;
    height: 50px;

}

.dislike
	{
		border: 0.1em solid blue;
		background-color: rgb(241, 102, 102);
		width: 70px;
		height: 70px;
		border-radius: 250px;
		padding-top: 20px;
		padding-left: 5px;
		margin-left: -1px;
        margin-top: 40px;
	}

.dislike_
    {
        font-size: 1.5em;
        color: antiquewhite;
        padding-left:  23px;
    }

    .dislike_:hover
    {
        text-decoration: none;
        color: cyan;
    }

.dislike_btn
{
    border: none;
    background-color: white;
    margin-left: 0px;
    margin-top: 55px;
    width: 60px;
    height: 50px;  
}